@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";
@import "../../styles/responsive";

.list {
  width: 50%;
  background: $violet;
  border-radius: 20px;
  padding: 5%;
  @include md {
    width: 100%;
  }
  &__h2 {
    @include fonts($font-m, 36px, 500, 40px, $white);
    line-height: 1;
    padding-bottom: 20px;
  }
&__p {
  @include fonts($font-m, 14px, 300, 40px, $white);

}
  .list__inp {
    margin-right: 25px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    position: relative;
  }

  .list__inp:checked::before {
    content: "\2713"; /* символ галочки */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #fff;
  }

  &__lab {
    @include fonts($font-m, 18px, 300, 37px, $white);
  }
}
.popup {
&-h3 {
  margin-top: 15px;
  @include fonts($font-m, 18px, 700, 37px, $white);
}
&-li {
  @include fonts($font-m, 18px, 300, 37px, $white);
}
&-button {
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  background: $violet;
  border: 1px solid $white;
  border-radius: 30px;
  color: $white;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  @include fonts($font-m, 14px, 300, 18px, $white);
  justify-content: center;
  line-height: 1;
  min-height: 35px;
  min-width: 90px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  z-index: 99;
  position: relative;
}
&-button:hover {
  color: $violet;
  background-color: $white;
}
}