@import "../../styles/variables";

* {
  transition: all 0.3s ease-in-out;
}

.formConteiner {
  padding-top: 7%;
}

.btn-search {
  border-radius: 15% !important;
  height: 44px;
  background-color: $violet1 !important;
  border: 2px solid $violet1 !important;
  color: $white !important;
  position: absolute;
  right: 16%;
}
.form-control:focus {
  border-color: $violet1 !important;
  box-shadow: 0 0 0 0.25rem $violet1 !important;
}
.btn-search:hover {
  color: $violet !important;
  background-color: $white !important;
}
.form-control {
  padding-left: 75px !important;
  padding-right: 100px !important;
}
.search-form {
  margin: 0 auto;
  max-width: 70%;
  height: 60px;
  transition: max-width 0.5s !important;
}
.search-form:hover,
.search-form:active {
  max-width: 71%;
}

.search-group {
  display: flex;
  align-items: center;
  // margin-bottom: 1rem;
}

.search-input-container {
  flex-grow: 1;
  // max-width: 90%; /* Максимальна ширина контейнера */
}

.search-form {
  position: relative;
  width: 100%;
  height: 60px;
  padding-right: 3rem; /*  простір справа для кнопки та іконки */
  margin: 0 auto; /* Центрування по горизонталі */
}

.search-icon {
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}

input {
  background: url("../../../public/assets/images/search.png") top left no-repeat;
  background-position-y: center;
  background-position-x: 15px;
  position: relative;
}
