@import "../../styles/variables";
@import "../../styles/mixins";

.btn-a1 {
margin: 20px;
-webkit-box-align: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
align-items: center;
background: $violet;
border: 0;
border-radius: 30px;
color: $white;
cursor: pointer;
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
@include fonts ($font-m, 18px, 500, 26px, $white);
justify-content: center;
line-height: 1;
min-height: 54px;
min-width: 120px;
padding: 10px;
text-align: center;
vertical-align: middle;
text-decoration: none;
}

.btn-a1:hover {
color: $violet;
   background-color:$white;
   border: 3px solid $violet;
  }

.btn-a2 {
  -webkit-box-align: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   align-items: center;
   background: $violet;
   border: 0;
   border-radius: 30px;
   color: $white;
   cursor: pointer;
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   @include fonts ($font-m, 14px, 300, 18px, $white);
   justify-content: center;
   line-height: 1;
   min-height: 35px;
   min-width: 90px;
   padding: 10px;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
}
.btn-a2:hover {
   color: $violet;
   background-color:$white;
   border: 1px solid $violet;
}
.btn-a3 {
    @include fonts ($font-m, 14px, 300, 18px, $violet);
    border-radius: 30px;
    min-height: 35px;
    min-width: 90px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
  border: 2px solid $violet;
}
.btn-a3:hover {
    background-color: $violet;
    color: $white ;
    // @include fonts ($font-m, 14px, 300, 18px, $white);
}


  .btn-a4 {
  @include fonts ($font-m, 14px, 300, 18px, $violet);
  background-color: $white;
  border-radius: 30px;
  min-height: 35px;
  min-width: 90px;
border: 2px solid $violet;

}
.btn-a4:hover {
  background-color: $violet;
  color: $white ;
  // @include fonts ($font-m, 14px, 300, 18px, $white);
}