@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/responsive";


* {
  transition: all 0.3s ease-in-out;
}
.header {
  min-height: 50px;
  background-color: #ffffff;
  margin-bottom: 25px;

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.logo-block {
  margin: 10px;
  
  // left: 46px;
  // top: 26px;
}

.right-blocks {
  display: flex;
  margin: 10px;

  &__icon {
    margin: 20px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      align-items: center;
      background: $violet;
      border: 0;
      border-radius: 30px;
      color: $white;
      cursor: pointer;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      @include fonts ($font-m, 18px, 500, 26px, $white);
      justify-content: center;
      line-height: 1;
      min-height: 54px;
      min-width: 120px;
      padding: 10px;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
   
  }
  &__icon:hover {
    color: $violet;
   background-color:$white;
   border: 3px solid $violet;
  }
}


  
.main-banner{
  background: url(../../images/head.jpg);
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;

  @include md {
    height: 300px;
  }
}