@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/_responsive.scss";

* {
  transition: all 0.3s ease-in-out;
}

.wrapper {
  margin-inline: 5%;
}

.header {
  min-height: 50px;
  background-color: #ffffff;
  margin-bottom: 25px;

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.logo-block {
  margin: 10px;
  img{ @include ssm {
    width: 220px;
  }
  }
 
}

.right-blocks {
  display: flex;
  margin: 10px;

  li {
    list-style: none;
    margin-inline: 15px;
    margin-top: 10px;
    @include md {
      margin-inline: 5px;
      margin-top: 50px;
    }

  
   }
}

.main-banner {
  background: url(../../../public/assets/images/head.jpg);
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;

  // @include sm {
  //   height: 300px;
  // }
  // @include ssm {
  //   height: 200px;
  // }
  @include md {
    height: 400px;
  }
  @include ssm {
    background: url(../../../public/assets/images/head_320.jpg) no-repeat;
    height: 300px;

  }
}

.navbar.right-blocks {
  display: inline-flex;

  @include md {
    display: none;
  }
  @include sm {
    display: none;
  }
  @include ssm {
    display: none;
  }


    
  &.active {
    position: absolute;
    z-index: 8;
    background-color: white;
    top: -15px;
    width: 100%;
    left: -10px;
    padding: 0 30px 30px 30px;

    &__link {
      width: 100%;
      background-color: white;
    }
    @include md {
      display: block;
    }
    @include sm {
      display: block;
    }
    @include ssm {
      display: block;
    }
  }
}

.hamburger {    
  margin: 35px 0;
  z-index: 12;
  position: relative;
  display: none;
  margin-left: 15px;
  cursor: pointer;

  @include md {
    display: block;
  }
  @include sm {
    display: block;
  }
  @include ssm {
    display: block;
  }
  &__bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $violet;  
    }
  &.active {

    .hamburger__bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
