@import "../../styles/_variables.scss";
@import "../../styles/_responsive.scss";
@import "../../styles/_mixins.scss";

.footer {
  margin-top: 5%;
  background-color: $violet;
  padding: 20px;
  @include fonts($font-m, 16px, 500, 22px, $white);

  @include md {
    margin-top: 9%;
  }
  @include md {
    margin-top: 15%;
  }
  &__content {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md {
      flex-direction: row;
    }
    @include ssm {
      display: inline-block;
    }
  }

  &__logo {
    cursor: pointer;
    @include md {
      display: none;
    }
  }

  &__social-icons {
    display: flex;
    gap: 10px;

    &-icon {
      margin-inline: 10px;
      text-decoration: none;
      width: 30px;
      height: 30px;
      @include ssm {
        margin-top: 15px;
      }
    }
    &-icon:hover {
      opacity: 0.8;
    }
  }

  &__contact {
    margin-top: 20px;

    &-info {
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
}
